@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containor{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1E3C72 , #2ea19f);
    color: #D1D5DB;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
.age-calcultor{
    height: 100%;
    max-width: 100vh;
    margin-left: 100px;
    margin-top: 100px;
}
.age-calcultor h1 span{
    color: #ffff76;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background-color: #a8a894;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(29, 28, 28, 0.9);
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
#btn{
    background-color: #B91C1C;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    cursor: pointer;
     transition: 0.3s background-color;
     color: #ede5e5;
    
}

#btn:hover{
    background-color: rgba(2, 255, 2, 0.696);
    color: #121212;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-position: calc(100% - 10px);
position:absolute;
background-size: 30px;
cursor: pointer;
}
#result {
    margin-left: 145px;
    margin-top: -15px;  
  padding: 12px 20px;
  width: fit-content;     /* box fits the text */
  background: #ede5e5;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: none;          /* hidden until calculated */
  box-shadow: 0 4px 8px rgba(5, 5, 5, 0.9);
}
 .name{
    text-align: center;
    margin-top: 50px;
    /* font-size: 25px; */

}
 .name span{
    color: #f7ea60;
    font-family: "IBM Plex Sans", sans-serif;

} 